@import url("https://fonts.googleapis.com/css?family=Roboto|Material+Icons");

:root {
    --backgroundColour: white;
    --highlightBackgroundColour: #e5e5e5;
    --foregroundColour: black;
    --navBackgroundColour: black;
    --navForegroundColour: white;
    --navMenuBackgroundColour: #222222;
    --navMenuForegroundColour: white;
    --uiColour: #00b0f0;
    --uiTextColour: white;
    --uiHoverColour: #029bd3;
    --uiSelectedColour: #018abc;
    --uiFlatTextColour: #00b0f0;
    --uiInputColour: #e5e5e5;
    --uiInputTextColour: black;
    --clipPath: polygon(10px 0, 0 10px, 0 100%, calc(100% - 10px) 100%, 100% calc(100% - 10px), 100% 0);
}

* {
    font-family: "Roboto", sans-serif;
}

html {
    background: var(--backgroundColour);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
    min-height: calc(100% - 50px);
    margin: 0;
    margin-top: 20px;
    color: var(--foregroundColour);
}

body * {
    background: transparent;
}

main {
    min-height: calc(100vh - 75px);
    margin-bottom: 25px;
}

main.largeTop {
    margin-top: 50px;
}

main.noFixedHeight {
    min-height: unset;
    margin-bottom: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--uiColour);
}

a:hover {
    text-decoration: underline;
}

div.spacedTop {
    margin-top: 10px;
}

button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    clip-path: var(--clipPath);
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    font-size: 1em;
    transition: 0.5s;
}

button:hover {
    background-color: var(--uiHoverColour);
    cursor: pointer;
}

button:disabled {
    background-color: var(--uiInputColour);
    color: var(--uiInputTextColour);
    cursor: default;
}

button.flat {
    background-color: inherit;
    color: var(--uiFlatTextColour);
}

button.flat:disabled {
    background-color: inherit;
    color: var(--coverTextColour);
}

input, select, textarea {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    clip-path: var(--clipPath);
    background-color: var(--uiInputColour);
    color: var(--uiInputTextColour);
    font-size: 1em;
    transition: 0.5s;
}

input[type="checkbox"], input[type="radio"] {
    position: relative;
    display: inline-block;
    width: 28px;
    -webkit-appearance: none;
    padding: 10px;
    flex: none;
    background-color: var(--uiInputColour);
    clip-path: none;
    cursor: default;
}

input[type="checkbox"]:checked, input[type="radio"]:checked, input[type="checkbox"]:indeterminate {
    background-color: var(--uiColour);
}

input[type="checkbox"]:checked::after {
    position: absolute;
    top: 2px;
    left: 8px;
    color: var(--uiTextColour);
    font-size: 16px;
    content: "\2713";
}

input[type="radio"] {
    width: 32px;
    border-radius: 16px;
}

input[type="radio"]:checked::after {
    position: absolute;
    top: -14px;
    left: 6px;
    color: var(--uiTextColour);
    font-size: 52px;
    content: "\2022";
}

[dir="rtl"] input[type="radio"]:checked::after {
    left: unset;
    right: -2px;
}

input.spaced, select.spaced, textarea.spaced {
    margin: 5px;
}

input.signIn {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - 20px);
}

textarea {
    height: 3em;
    resize: none;
}

[contenteditable="true"] {
    outline: none;
}

header {
    padding: 15px;
    background-color: var(--highlightBackgroundColour);
}

section {
    padding: 15px;
    padding-left: 10vw;
    padding-right: 10vw;
}

nav {
    position: fixed;
    top: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    height: 40px;
    white-space: nowrap;
    overflow-y: auto;
    background-color: var(--navBackgroundColour);
    color: var(--navForegroundColour);
    z-index: 1;
}

nav > a {
    display: inline-flex;
    padding: 5px;
    height: calc(100% - 10px);
    align-items: center;
    vertical-align: middle;
    font-size: 20px;
    color: inherit;
}

nav > a.selected {
    font-weight: 700;
}

nav > a > * {
    vertical-align: middle;
}

nav > a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

nav > a > img {
    height: 100%;
}

nav .menu {
    position: fixed;
    display: none;
    top: 40px;
    left: 0;
    min-width: 200px;
    max-height: calc(100vh - 40px);
    background-color: var(--navMenuBackgroundColour);
    color: var(--navMenuForegroundColour);
    font-size: 16px;
    overflow-y: auto;
}

nav .menu a {
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    color: var(--navMenuForegroundColour);
}

nav .menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

nav .menu .logo img {
    height: 30px;
}

footer {
    padding: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--highlightBackgroundColour);
}

footer .logo {
    height: 40px;
    margin-bottom: 10px;
}

footer span.header {
    display: block;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
}

footer a.location {
    display: block;
    padding: 5px;
    color: var(--foregroundColour);
}

footer a.location:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

footer .split {
    margin-left: -15px;
    margin-right: -15px;
}

footer .copyright {
    margin-top: 20px;
}

label {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

label > span {
    min-width: 100px;
    padding: 8px;
}

label > input {
    flex: 1;
}

label > select {
    flex: 1;
}

label > textarea {
    flex: 1;
}

table, th, td {
    border-collapse: collapse;
    border: none;
}

th, td {
    margin: 0;
    padding: 5px;
}

table {
    min-width: 100%;
}

th {
    text-align: left;
}

tbody tr:nth-child(2n - 1) {
    background-color: rgb(0, 0, 0, 0.05);
}

.tableHolder {
    overflow-x: auto;
}

.tableColumnNoWrap {
    white-space: nowrap;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

[dir="rtl"] .left {
    text-align: right;
}

[dir="rtl"] .right {
    text-align: left;
}

.desktop {
    display: unset;
}

.mobile {
    display: none;
}

.split {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}

.split > div {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    flex-basis: 0;
}

.dialogBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    display: none;
    position: fixed;
    top: 30vh;
    left: 30vw;
    width: calc(40vw - 20px);
    height: calc(40vh - 20px);
    z-index: 3;
    padding: 10px;
    clip-path: var(--clipPath);
    background-color: white;
    color: black;
}

.dialogTitle {
    margin: -10px;
    padding: 10px;
    font-size: 20px;
    background-color: var(--uiColour);
    color: white;
}

.dialogContent {
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.dialogActions {
    margin: -10px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 40px;
    text-align: right;
}

.dialogActions button {
    margin-left: 10px;
}

.pageLoader {
    padding-top: calc(50vh - 150px);
    padding-bottom: calc(50vh - 150px);
    text-align: center;
}

.dialogLoader {
    margin-top: 4vh;
    text-align: center;
}

.mainCard {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 320px;
    max-height: calc(100vh - 230px);
    padding: 15px;
    clip-path: var(--clipPath);
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--foregroundColour);
}

.mainCardHeader {
    margin: 0;
}

.loader {
    width: 100px;
}

.tablist {
    margin-left: -10px;
    margin-right: -10px;
}

.tablist a {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--foregroundColour);
}

.tablist a.active {
    box-shadow: 0px -5px 0 0px var(--uiColour) inset;
}

.tablist a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.breadcrumbs {
    margin-left: -10px;
    margin-right: -10px;
}

.breadcrumbs > a {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--foregroundColour);
}

.breadcrumbs > a:not(:first-child)::before {
    content: "\E5CC";
    display: inline-block;
    margin-left: 3px;
    margin-right: 5px;
    font-family: "Material Icons";
    font-style: normal;
    font-weight: normal;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.breadcrumbs > a:first-child {
    padding-left: 10px;
}

.itemlist {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.itemlist > a {
    display: inline-block;
    width: 260px;
    height: 220px;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--foregroundColour);
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.itemlist > a:first-child {
    padding-left: 0;
}

.itemlist > a:last-child {
    padding-right: 0;
}

.itemlist > a:hover {
    text-decoration: none;
}

.itemlist > a > img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    transition: 1s filter;
}

.itemlist > a:hover > img {
    filter: brightness(80%);
}

.itemlist > a > strong, .itemlist > a > span {
    display: block;
    font-size: 18px;
}

.featureGrids {
    display: grid;
    grid-template-areas:
        "feature feature item1"
        "feature feature item2"
        "item3 item4 item5"
    ;
}

.featureGrids > a {
    display: block;
    position: relative;
    height: 15vw;
    color: white;
    text-decoration: none;
}

.featureGrids > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    object-fit: cover;
    transition: 1s filter;
}

.featureGrids > a > span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    text-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.featureGrids > a:hover > img {
    filter: brightness(90%);
}

.featureGrids > a:nth-child(1) {
    height: 30vw;
    grid-area: feature;
}

.featureGrids > a:nth-child(2) {
    grid-area: item1;
}

.featureGrids > a:nth-child(3) {
    grid-area: item2;
}

.featureGrids > a:nth-child(4) {
    grid-area: item3;
}

.featureGrids > a:nth-child(5) {
    grid-area: item4;
}

.featureGrids > a:nth-child(6) {
    grid-area: item5;
}

.loadingSection {
    display: none;
}

.iconMenu {
    display: flex;
    flex-wrap: wrap;
}

.iconMenu > a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    flex-basis: 0;
    color: var(--foregroundColour);
    text-align: center;
    transition: 0.5s opacity;
}

.iconMenu > a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.iconMenu > a > i {
    display: block;
    padding: 5px;
    font-size: 60px;
}

.iconMenu > a > span {
    display: block;
    padding: 5px;
}

.paneView {
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

nav ~ main .paneView, nav ~ main * .paneView {
    height: calc(100vh - 40px);
}

header ~ .paneView, header ~ * .paneView {
    height: calc(100vh - 50px);
}

nav ~ main header ~ .paneView, nav ~ main header ~ * .paneView {
    height: calc(100vh - 90px);
}

.paneView .leftPane {
    display: inline-block;
    height: calc(100% - 30px);
    padding: 15px;
    flex: 0 0 230px;
    background-color: var(--highlightBackgroundColour);
    overflow: auto;
}

.paneView .mainView {
    display: inline-block;
    height: 100%;
    flex: 1 0;
    overflow: auto;
}

.paneTitle {
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(255, 255,255, 0.5);
    font-weight: 700;
    overflow: nonne;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.paneTitle a {
    margin-right: 10px;
    color: var(--foregroundColour);
    font-weight: initial;
}

.paneTitle a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.paneTitle a i {
    font-size: unset;
}

/* Media queries */

@media (max-width: 800px) {
    .dialog {
        left: 10vw;
        width: calc(80vw - 20px);
    }

    .featureGrids {
        display: block;
    }

    .featureGrids > a {
        height: 30vh!important;
    }

    .mainView {
        width: 100vw;
        flex: 1 0 100vw!important;
    }
}

@media (max-width: 600px) {
    .split > div {
        flex-basis: 50%;
    }

    .iconMenu > a {
        flex-basis: 50%;
    }
}

@media (max-width: 550px) {
    .mainCard {
        left: 50px;
        width: calc(100% - 130px);
    }
}

@media (max-height: 500px) {
    .dialog {
        top: 20vh;
        left: 30vw;
        width: calc(40vw - 20px);
        height: calc(60vh - 20px);
    }
}

@media (max-width: 400px) {
    nav .menu {
        width: 100vw;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: unset;
    }

    .split > div {
        flex-basis: 100%;
    }

    .itemlist > a {
        width: 100%;
    }
}

/* Import overrides */

.material-ui {
    font-size: unset;
}